{% extends 'impala/base.html' %}
{% block content %}
<div id="content-zone">
	<div class="info">
	<h1 class="contacts-header">Контактная информация</h1>
		<div class="contacts">
			<div class="contacts-left">
				<div class="addr">
					<div class="addr_img">
						<img src="static/icons/addr.png">
					</div>
					<div class="addr_txt">
						<p>ООО "Konstantin SuperCars"<br>Проспект Героев, 46<br>Днепр, Украина, 49106</p>
					</div>
				</div>
				<div class="email">
					<div class="email_img">
						<img src="static/icons/email.png">
					</div>
					<div class="email_txt">
						<a href="mailto:kosdnepr@gmail.com">kosdnepr@gmail.com</a>
					</div>
				</div>
			</div>
			<div class="contacts-right">
				<div class="work">
					<div class="work_img">
						<img src="static/icons/work.png">
					</div>
					<div class="work_txt">
						<p>понедельник - пятница<br>08:00 - 20:00<br>суббота, воскресенье<br>10:00 - 19:00</p>
					</div>
				</div>
				<div class="phone">
					<div class="phone_img">
						<img src="static/icons/phone.png">
					</div>
					<div class="phone_txt">
						<p>+380(67) 000 1967</p>
					</div>
				</div>
			</div>
		</div>
		<div class="map">
			<h1 class="contacts-header">Карта проезда</h1>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2648.5079976818274!2d35.07276831565857!3d48.40839087924602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbfc844e9c2a93%3A0xf6daedf64392516!2z0L_RgNC-0YHQv9C10LrRgiDQk9C10YDQvtGX0LIsIDQ2LCDQlNC90ZbQv9GA0L7MgSwg0JTQvdGW0L_RgNC-0L_QtdGC0YDQvtCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDQ5MDAw!5e0!3m2!1sru!2sua!4v1476658391908" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>
{% endblock content %}