<!DOCTYPE html>
<html>
<head>
	
	<title>Impala 1967 - Главная</title>	
	<meta charset="utf-8">
	<!-- STYLE -->
	<link rel="stylesheet" type="text/css" href="static/css/general_style.css">
	<link rel="stylesheet" type="text/css" href="static/css/normalize.css">
	<!-- SCRIPT -->
	<script type="text/javascript" src="static/js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="static/js/script.js"></script>
	<!-- ICON -->
	<link rel="shortcut icon" href="static/icons/impala.ico">
</head>
<body>

<!-- HEADER -->
<header class="header">
	<div id="logo">
		<a title="Impala1967ua" href="{% url 'index' %}">
			<img src="static/images/head_emb.jpg" alt="Impala">
		</a>
	</div>
	<div id="header-text">
		<h1>
		Impala1967ua - сайт для тех, кто знает, что такое настоящий автомобиль
		</h1>
	</div>
</header>
<!-- /HEADER -->
<div id="main">
<!-- NAVIGATION -->

<!-- /NAVIGATION -->
<!-- MAIN -->

    	{% block content %}
        {% endblock %}

<!-- /MAIN -->
</div>
<!--FOOTER-->
<footer class="footer">
	<div class="pagebottom">
		<div class="about">
			<p>
			Copyright © 2016 <a href="#">Konstantin SuperCars</a>
			</p>
		</div>
		<div class="social">
			<a href="https://www.facebook.com/" target="_blank"><img src="static/images/social/fb.png"></a>
			<a href="https://twitter.com/" target="_blank"><img src="static/images/social/twit.png"></a>
			<a href="https://www.youtube.com/" target="_blank"><img src="static/images/social/youtube.png"></a>
		</div>
	</div>
</footer>
	<!--/FOOTER-->
</body>
</html>