{% extends 'impala/base.html' %}
{% block content %}
	<div id="menu">
		<ul class="navigation">

			<li class="menu-top"><a class="navlink" href="{% url 'index' %}">Главная</a></li>
			<li class="menu-mid"><a class="navlink" href="{% url 'specifications' %}">Технические характеристики</a></li>
			<li class="menu-mid"><a class="activepage" href="{% url 'gallery' %}">Фотогалерея</a></li>
			<li class="menu-mid"><a class="navlink" href="{% url 'store' %}">ПРЕДЛОЖЕНИЯ АВТОМОБИЛЕЙ</a></li>
			<li class="menu-bot"><a class="navlink" href="{% url 'about' %}">Наши контакты</a></li>
		</ul>
	</div>
<!-- /NAVIGATION --><!-- MAIN -->
	<div class="gallery">
		<a tabindex="1"><img src="static/images/gal/img_1.jpg" alt="img_1"></a>
		<a tabindex="2"><img src="static/images/gal/img_2.jpg" alt="img_2"></a>
		<a tabindex="3"><img src="static/images/gal/img_3.jpg" alt="img_3"></a>
		<a tabindex="4"><img src="static/images/gal/img_4.jpg" alt="img_4"></a>
		<a tabindex="5"><img src="static/images/gal/img_5.jpg" alt="img_5"></a>
		<a tabindex="6"><img src="static/images/gal/img_6.jpg" alt="img_6"></a>
		<a tabindex="7"><img src="static/images/gal/img_7.jpg" alt="img_7"></a>
		<a tabindex="8"><img src="static/images/gal/img_8.jpg" alt="img_8"></a>
		<a tabindex="9"><img src="static/images/gal/img_9.jpg" alt="img_9"></a>
		<a tabindex="10"><img src="static/images/gal/img_10.jpg" alt="img_10"></a>
		<a tabindex="11"><img src="static/images/gal/img_11.jpg" alt="img_11"></a>
		<a tabindex="12"><img src="static/images/gal/img_12.jpg" alt="img_12"></a>
	</div>
{% endblock content %}