<!DOCTYPE html>
<html>
<head>
	
	<title>Impala 1967 - Главная</title>	
	<meta charset="utf-8">
	<!-- STYLE -->
	<link rel="stylesheet" type="text/css" href="style/general_style.css">
	<link rel="stylesheet" type="text/css" href="style/normalize.css">
	<!-- SCRIPT -->
	<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<!-- ICON -->
	<link rel="shortcut icon" href="icons/impala.ico">
</head>
<body>

<!-- HEADER -->
<header class="header">
	<div id="logo">
		<a title="Impala1967ua" href="index.html">
			<img src="images/head_emb.jpg" alt="Impala">
		</a>
	</div>
	<div id="header-text">
		<h1>
		Impala1967ua - сайт для тех, кто знает, что такое настоящий автомобиль
		</h1>
	</div>
</header>
<!-- /HEADER --><div id="main">
<!-- NAVIGATION -->
	<div id="menu">
		<ul class="navigation">

			<li class="menu-top"><a class="activepage" href="index.html">Главная</a></li>
			<li class="menu-mid"><a class="navlink" href="specifications.html">Технические характеристики</a></li>
			<li class="menu-mid"><a class="navlink" href="gallery.html">Фотогалерея</a></li>
			<li class="menu-mid"><a class="navlink" href="store.html">ПРЕДЛОЖЕНИЯ АВТОМОБИЛЕЙ</a></li>
			<li class="menu-bot"><a class="navlink" href="about.html">Наши контакты</a></li>
		</ul>
	</div>
<!-- /NAVIGATION -->
<!-- MAIN -->
	<div id="content-zone">
		<div class="content">
			<h1 class="page-title">Chevrolet Impala 1967 - мощь и роскошь 60-х</h1>
			<p><strong>Chevrolet Impala</strong> — легендарный американский полноразмерный автомобиль, выпускавшийся подразделением корпорации <a href="https://ru.wikipedia.org/wiki/General_Motors">GM Chevrolet</a> как модель с 1958 по 1985, с 1994 по 1996 и с 2000 года по настоящее время.</p>
			<p>С 1959 года Chevrolet Impala стал отдельной моделью, и сразу же — самым коммерчески успешным Chevrolet.  Слово Impala было позаимствовано из названия небольшой африканской антилопы с элегантным экстерьером. Название машины ярко и грациозно отображает быстроту машины. Chevrolet Impala стала последней моделью знаменитого дизайнера автомобилей <a href="https://ru.wikipedia.org/wiki/%D0%A5%D0%B0%D1%80%D0%BB%D0%B8_%D0%AD%D1%80%D0%BB">Харли Эрл</a>.</p>
			<p>Модель отличалась очень выразительным стайлингом, большей спортивностью и роскошью в отделке, продавалась под лозунгом «роскошный автомобиль, доступный для каждого жителя Америки».</p>
			<p>Поколение 1965—70 годов технически было очень серьёзно модернизировано. Автомобиль получил пружинную подвеску всех колёс, рама из X-образной превратилась в более массивную периферийную. </p>
			<p>В 1967 году кузов был подвергнут рестайлингу, получил более тщательную скульптурную проработку — боковина кузова немного сгладилась, появились утопленные в решётку радиатора фары и крупные поворотники по бокам от фар — машина стала выглядеть более гармонично и агрессивно. Задние фонари с этого года перестали быть круглыми, вместо них появились широкие горизонтальные, трёхсекционные, с заострёнными краями. Impala получила безопасную деформируемую рулевую колонку, обитую панель приборов, повторители указателей поворота и трёхточечные ремни безопасности.</p>
			<p>В 1967 этот легендарный автомобиль стал рекордсменом, и побил мировой рекорд по продажам благодаря данной модели. В связи с этим только за год было реализовано по большей части более 1 миллиона автомобилей.</p>
			<p><strong>Chevrolet Impala 1967</strong> года бесспорно является фаворитом своего времени, и во многом опережает автомобили современных классов нашего времени.</p>
			<p class="resume">Chevrolet Impala 1967 – яркий шедевр на рынке авто.</p>
		</div>
	</div>

<!-- /MAIN -->
</div>
<!--FOOTER-->
<footer class="footer">
	<div class="pagebottom">
		<div class="about">
			<p>
			Copyright © 2016 <a href="#">Konstantin SuperCars</a>
			</p>
		</div>
		<div class="social">
			<a href="https://www.facebook.com/" target="_blank"><img src="images/social/fb.png"></a>
			<a href="https://twitter.com/" target="_blank"><img src="images/social/twit.png"></a>
			<a href="https://www.youtube.com/" target="_blank"><img src="images/social/youtube.png"></a>
		</div>
	</div>
</footer>
	<!--/FOOTER-->
</body>
</html>