{% extends 'impala/base.html' %}
{% block content %}
	<div id="content-zone">
		<p class="spec">Chevrolet Impala 1967 выпускался в двух вариантах: 2-хдверное купе и седан.</p>
		<h2 class="spec">Технические характеристики</h2>
		<table class="spec">
			<caption class="tab-title">Общее</caption>
			<tr>
				<td>Тип кузова</td>
				<td>Седан / Купе</td>
			</tr>
			<tr>
				<td>Кол-во дверей</td>
				<td>4 / 2</td>
			</tr>
		</table>
		<table class="spec">
			<caption class="tab-title">Габаритные размеры</caption>
			<tr>
				<td>Длина</td>
				<td>5 415</td>
			</tr>
			<tr>
				<td>Ширина</td>
				<td>2 029</td>
			</tr>
			<tr>
				<td>Высота</td>
				<td>1 407</td>
			</tr>
			<tr>
				<td>Колесная база</td>
				<td>3 023</td>
			</tr>
			<tr>
				<td>Снаряженный вес</td>
				<td>1 969 / 1 745</td>
			</tr>
		</table>
		<table class="spec">
			<caption class="tab-title">Двигатель</caption>
			<tr>
				<td>Двигатель</td>
				<td>Бензиновый Turbo Jet V8</td>
			</tr>
			<tr>
				<td>Объём двигателя</td>
				<td>6,5 л</td>
			</tr>
			<tr>
				<td>Тип впуска</td>
				<td>Карбюратор</td>
			</tr>
			<tr>
				<td>Количество цилиндров</td>
				<td>8</td>
			</tr>
			<tr>
				<td>Максимальная мощность</td>
				<td>329,5 л.с.</td>
			</tr>
			<tr>
				<td>Максимальный вращающий момент</td>
				<td>до 3 200 об./мин.</td>
			</tr>
		</table>
		<table class="spec">
		<caption class="tab-title">Трансмиссия</caption>
			<tr>
				<td>Коробка передач</td>
				<td>Автомат</td>
			</tr>
			<tr>
				<td>Привод</td>
				<td>Задний</td>
			</tr>
			<tr>
				<td>Количество ступеней</td>
				<td>3 / 4</td>
			</tr>
		</table>
		<table class="spec">
		<caption class="tab-title">Подвеска и торомза</caption>
			<tr>
				<td>Передние / задние тормоза</td>
				<td>Барабанные</td>
			</tr>
			<tr>
				<td>Передняя подвеска</td>
				<td>Пружинная, независимая</td>
			</tr>
			<tr>
				<td>Задняя подвеска</td>
				<td>А-образный рычаг, амортизаторы, винтовые пружины, неразрезной мост</td>
			</tr>
		</table>
		<table class="spec">
		<caption class="tab-title">Эксплуатационные показатели</caption>
			<tr>
				<td>Объём топливного бака</td>
				<td>90 л</td>
			</tr>
			<tr>
				<td>Расход топлива</td>
				<td>26 л / 100 км</td>
			</tr>
			<tr>
				<td>Максимальная скорость</td>
				<td>211 км / час</td>
			</tr>
			<tr>
				<td>Разгон до 100 км</td>
				<td>8,5 с</td>
			</tr>
		</table>
	</div>
{% endblock content %}