<!DOCTYPE html>
<html>
<head>
	
	<title>Impala 1967 - Технические характеристики</title>	
	<meta charset="utf-8">
	<!-- STYLE -->
	<link rel="stylesheet" type="text/css" href="style/general_style.css">
	<link rel="stylesheet" type="text/css" href="style/normalize.css">
	<!-- SCRIPT -->
	<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<!-- ICON -->
	<link rel="shortcut icon" href="icons/impala.ico">
</head>
<body>

<!-- HEADER -->
<header class="header">
	<div id="logo">
		<a title="Impala1967ua" href="index.html">
			<img src="images/head_emb.jpg" alt="Impala">
		</a>
	</div>
	<div id="header-text">
		<h1>
		Impala1967ua - сайт для тех, кто знает, что такое настоящий автомобиль
		</h1>
	</div>
</header>
<!-- /HEADER --><div id="main">
<!-- NAVIGATION -->
	<div id="menu">
		<ul class="navigation">

			<li class="menu-top"><a class="navlink" href="index.html">Главная</a></li>
			<li class="menu-mid"><a class="activepage" href="specifications.html">Технические характеристики</a></li>
			<li class="menu-mid"><a class="navlink" href="gallery.html">Фотогалерея</a></li>
			<li class="menu-mid"><a class="navlink" href="store.html">ПРЕДЛОЖЕНИЯ АВТОМОБИЛЕЙ</a></li>
			<li class="menu-bot"><a class="navlink" href="about.html">Наши контакты</a></li>
		</ul>
	</div>
<!-- /NAVIGATION --><!-- MAIN -->
	<div id="content-zone">
		<p class="spec">Chevrolet Impala 1967 выпускался в двух вариантах: 2-хдверное купе и седан.</p>
		<h2 class="spec">Технические характеристики</h2>
		<table class="spec">
			<caption class="tab-title">Общее</caption>
			<tr>
				<td>Тип кузова</td>
				<td>Седан / Купе</td>
			</tr>
			<tr>
				<td>Кол-во дверей</td>
				<td>4 / 2</td>
			</tr>
		</table>
		<table class="spec">
			<caption class="tab-title">Габаритные размеры</caption>
			<tr>
				<td>Длина</td>
				<td>5 415</td>
			</tr>
			<tr>
				<td>Ширина</td>
				<td>2 029</td>
			</tr>
			<tr>
				<td>Высота</td>
				<td>1 407</td>
			</tr>
			<tr>
				<td>Колесная база</td>
				<td>3 023</td>
			</tr>
			<tr>
				<td>Снаряженный вес</td>
				<td>1 969 / 1 745</td>
			</tr>
		</table>
		<table class="spec">
			<caption class="tab-title">Двигатель</caption>
			<tr>
				<td>Двигатель</td>
				<td>Бензиновый Turbo Jet V8</td>
			</tr>
			<tr>
				<td>Объём двигателя</td>
				<td>6,5 л</td>
			</tr>
			<tr>
				<td>Тип впуска</td>
				<td>Карбюратор</td>
			</tr>
			<tr>
				<td>Количество цилиндров</td>
				<td>8</td>
			</tr>
			<tr>
				<td>Максимальная мощность</td>
				<td>329,5 л.с.</td>
			</tr>
			<tr>
				<td>Максимальный вращающий момент</td>
				<td>до 3 200 об./мин.</td>
			</tr>
		</table>
		<table class="spec">
		<caption class="tab-title">Трансмиссия</caption>
			<tr>
				<td>Коробка передач</td>
				<td>Автомат</td>
			</tr>
			<tr>
				<td>Привод</td>
				<td>Задний</td>
			</tr>
			<tr>
				<td>Количество ступеней</td>
				<td>3 / 4</td>
			</tr>
		</table>
		<table class="spec">
		<caption class="tab-title">Подвеска и торомза</caption>
			<tr>
				<td>Передние / задние тормоза</td>
				<td>Барабанные</td>
			</tr>
			<tr>
				<td>Передняя подвеска</td>
				<td>Пружинная, независимая</td>
			</tr>
			<tr>
				<td>Задняя подвеска</td>
				<td>А-образный рычаг, амортизаторы, винтовые пружины, неразрезной мост</td>
			</tr>
		</table>
		<table class="spec">
		<caption class="tab-title">Эксплуатационные показатели</caption>
			<tr>
				<td>Объём топливного бака</td>
				<td>90 л</td>
			</tr>
			<tr>
				<td>Расход топлива</td>
				<td>26 л / 100 км</td>
			</tr>
			<tr>
				<td>Максимальная скорость</td>
				<td>211 км / час</td>
			</tr>
			<tr>
				<td>Разгон до 100 км</td>
				<td>8,5 с</td>
			</tr>
		</table>
	</div>

<!-- /MAIN -->
</div>
<!--FOOTER-->
<footer class="footer">
	<div class="pagebottom">
		<div class="about">
			<p>
			Copyright © 2016 <a href="#">Konstantin SuperCars</a>
			</p>
		</div>
		<div class="social">
			<a href="https://www.facebook.com/" target="_blank"><img src="images/social/fb.png"></a>
			<a href="https://twitter.com/" target="_blank"><img src="images/social/twit.png"></a>
			<a href="https://www.youtube.com/" target="_blank"><img src="images/social/youtube.png"></a>
		</div>
	</div>
</footer>
	<!--/FOOTER-->
</body>
</html>