{% extends 'impala/base.html' %}
{% block content %}
	<div id="menu">
		<ul class="navigation">

			<li class="menu-top"><a class="navlink" href="{% url 'index' %}">Главная</a></li>
			<li class="menu-mid"><a class="navlink" href="{% url 'specifications' %}">Технические характеристики</a></li>
			<li class="menu-mid"><a class="navlink" href="{% url 'gallery' %}">Фотогалерея</a></li>
			<li class="menu-mid"><a class="activepage" href="{% url 'store' %}">ПРЕДЛОЖЕНИЯ АВТОМОБИЛЕЙ</a></li>
			<li class="menu-bot"><a class="navlink" href="{% url 'about' %}">Наши контакты</a></li>
		</ul>
	</div>
<!-- /NAVIGATION --><!-- GALLERY SCRIPT -->
<script>lightgallery.init({
					enableZoom:false,
					duration: 800,
					fadeImage:false
					});
</script>

<!-- MAIN -->
	<div id="ads">

		<div class="ad">
			<div class="descript">
				<form action="#">
					<table class="descript">
						<caption>$20 000</caption>
						<tr>
							<td>Пробег</td>
							<td>150 тыс.км</td>
						</tr>
						<tr>
							<td>Кузов</td>
							<td>Седан</td>
						</tr>
						<tr>
							<td>Город</td>
							<td>Никополь</td>
						</tr>
					</table>
					<button name="kosdnepr@gmail.com" type="submit">Написать продавцу <img src="static/images/envelope.jpg"></button>
				</form>
			</div>
			<div class="photo">
				<a href="static/ads/id001/1.jpg" rel="lightgallery[001]"><img src="static/ads/id001/1.jpg"></a>
				<a href="static/ads/id001/2.jpg" rel="lightgallery[001]"><img src="static/ads/id001/2.jpg"></a>
				<a href="static/ads/id001/3.jpg" rel="lightgallery[001]"><img src="static/ads/id001/3.jpg"></a>
				<a href="static/ads/id001/4.jpg" rel="lightgallery[001]"><img src="static/ads/id001/4.jpg"></a>
				<a href="static/ads/id001/5.jpg" rel="lightgallery[001]"><img src="static/ads/id001/5.jpg"></a>				
			</div>
		</div>
		
		<div class="ad">
			<div class="descript">
				<form action="#">
					<table class="descript">
						<caption>$23 000</caption>
						<tr>
							<td>Пробег</td>
							<td>180 тыс.км</td>
						</tr>
						<tr>
							<td>Кузов</td>
							<td>Седан</td>
						</tr>
						<tr>
							<td>Город</td>
							<td>Каменское</td>
						</tr>
					</table>
					<button name="kosdnepr@gmail.com" type="submit">Написать продавцу <img src="static/images/envelope.jpg"></button>
				</form>
			</div>
			<div class="photo">
				<a href="static/ads/id002/1.jpg" rel="lightgallery[002]"><img src="static/ads/id002/1.jpg"></a>
				<a href="static/ads/id002/2.jpg" rel="lightgallery[002]"><img src="static/ads/id002/2.jpg"></a>
				<a href="static/ads/id002/3.jpg" rel="lightgallery[002]"><img src="static/ads/id002/3.jpg"></a>
				<a href="static/ads/id002/4.jpg" rel="lightgallery[002]"><img src="static/ads/id002/4.jpg"></a>
				<a href="static/ads/id002/5.jpg" rel="lightgallery[002]"><img src="static/ads/id002/5.jpg"></a>				
			</div>
		</div>

		<div class="ad">
			<div class="descript">
				<form action="#">
					<table class="descript">
						<caption>$27 000</caption>
						<tr>
							<td>Пробег</td>
							<td>не указан</td>
						</tr>
						<tr>
							<td>Кузов</td>
							<td>Купе</td>
						</tr>
						<tr>
							<td>Город</td>
							<td>Днепр</td>
						</tr>
					</table>
					<button name="kosdnepr@gmail.com" type="submit">Написать продавцу <img src="static/images/envelope.jpg"></button>
				</form>
			</div>
			<div class="photo">
				<a href="static/ads/id003/1.jpg" rel="lightgallery[003]"><img src="static/ads/id003/1.jpg"></a>
				<a href="static/ads/id003/2.jpg" rel="lightgallery[003]"><img src="static/ads/id003/2.jpg"></a>
				<a href="static/ads/id003/3.jpg" rel="lightgallery[003]"><img src="static/ads/id003/3.jpg"></a>
				<a href="static/ads/id003/4.jpg" rel="lightgallery[003]"><img src="static/ads/id003/4.jpg"></a>
				<a href="static/ads/id003/5.jpg" rel="lightgallery[003]"><img src="static/ads/id003/5.jpg"></a>				
			</div>
		</div>

		<div class="ad">
			<div class="descript">
				<form action="#">
					<table class="descript">
						<caption>$21 000</caption>
						<tr>
							<td>Пробег</td>
							<td>193 000</td>
						</tr>
						<tr>
							<td>Кузов</td>
							<td>Купе</td>
						</tr>
						<tr>
							<td>Город</td>
							<td>Кривой Рог</td>
						</tr>
					</table>
					<button name="kosdnepr@gmail.com" type="submit">Написать продавцу <img src="static/images/envelope.jpg"></button>
				</form>
			</div>
			<div class="photo">
				<a href="static/ads/id004/1.jpg" rel="lightgallery[004]"><img src="static/ads/id004/1.jpg"></a>
				<a href="static/ads/id004/2.jpg" rel="lightgallery[004]"><img src="static/ads/id004/2.jpg"></a>
				<a href="static/ads/id004/3.jpg" rel="lightgallery[004]"><img src="static/ads/id004/3.jpg"></a>
				<a href="static/ads/id004/4.jpg" rel="lightgallery[004]"><img src="static/ads/id004/4.jpg"></a>
				<a href="static/ads/id004/5.jpg" rel="lightgallery[004]"><img src="static/ads/id004/5.jpg"></a>				
			</div>
		</div>

		<div class="ad">
			<div class="descript">
				<form action="#">
					<table class="descript">
						<caption>$39 000</caption>
						<tr>
							<td>Пробег</td>
							<td>140 000</td>
						</tr>
						<tr>
							<td>Кузов</td>
							<td>Универсал</td>
						</tr>
						<tr>
							<td>Город</td>
							<td>Карнауховка</td>
						</tr>
					</table>
					<button name="kosdnepr@gmail.com" type="submit">Написать продавцу <img src="static/images/envelope.jpg"></button>
				</form>
			</div>
			<div class="photo">
				<a href="static/ads/id005/1.jpg" rel="lightgallery[005]"><img src="static/ads/id005/1.jpg"></a>
				<a href="static/ads/id005/2.jpg" rel="lightgallery[005]"><img src="static/ads/id005/2.jpg"></a>
				<a href="static/ads/id005/3.jpg" rel="lightgallery[005]"><img src="static/ads/id005/3.jpg"></a>
				<a href="static/ads/id005/4.jpg" rel="lightgallery[005]"><img src="static/ads/id005/4.jpg"></a>
				<a href="static/ads/id005/5.jpg" rel="lightgallery[005]"><img src="static/ads/id005/5.jpg"></a>				
			</div>
		</div>

	</div>
{% endblock content %}